<div class="container"></div>
    <h1><%= @user.username %></h1>
    <%= image_tag @user.avatar_url(:profile)  %><br><br>
    <section class="stats">
      <%= render 'shared/stats' %>
      <%= follow_or_unfollow_button @user %>
    </section>
    <%= render "shared/orchestra_feed" %>

</div>
    <ul>
        <li><%= link_to 'Back to home page', root_path %></li>
    </ul>
