<nav class="navbar navbar-default navbar-fixed-top navbar">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">SoundTrack</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="search"><%= render 'shared/search' %></li>
        <% if user_signed_in? %>
          <!--<li class="post"><%= link_to 'New Post', new_post_path %></li>-->
          <li class="navlinks"><%= link_to "My Orchestra", following_path %></li>
            <li role="presentation" class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <%= image_tag current_user.avatar_url(:nav) %><span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li class="profile"><%= link_to 'Profile', user_path(current_user) %></li>
                <li class="settings"><%= link_to 'Account Settings', edit_user_registration_path(current_user) %></li>
                <li class="signout"><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
                <!--<li role="separator" class="divider"></li>-->
              </ul>
            </li>
              <% else %>
               <li class="navlinks"><%= link_to "Sign-in", user_session_path %></li>
              <% end %>
            </li>
          <!--<li><%= link_to "Sign-in", user_session_path %></li>-->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>