<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">SoundTrack</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to 'New Post', new_post_path %></li>
      </ul>
      <form class="navbar-form navbar-right" role="search">
        <%= form_tag users_path, :method => 'get', :id => 'users_search' do %>
            <p>
              <%= text_field_tag :search, params[:search] %>
              <%= submit_tag "Search username", :name => nil %>
            </p>
        <% end %>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Profile', edit_user_registration_path(current_user) %></li> <!-- link_to current_user.avatar(:nav), user_path(current_user) -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

