<div class="row">
    <div id="feed" class="col-md-6 col-md-offset-3">
      <h1 class="lead">Orchestra Feed</h1>

      <ul>
        <% @posts.each do |post| %>
            <li>
              <%= image_tag post.user.avatar_url(:thumb) %>
              <%= link_to post.user.username, user_path(post.user.id) %>
              <%= post.post_title %>
              <div class="embed-responsive embed-responsive-16by9">
                <iframe id="new_post_vid" class="embed-responsive-item" src="//www.youtube.com/embed/<%= post.video_id %>" frameborder="0" allowfullscreen></iframe><br>
              <!--<iframe id="new_post_vid" class="video w100" width="640" height="360" src="//www.youtube.com/embed/<%= post.video_id %>" frameborder="0" allowfullscreen></iframe><br>-->
              </div>
              Description: <%= post.description %><br><br>
            </li>
        <% end %>
      </ul>
  </div>
</div>