
<div id="feed" class="col-sm-6">
  <h1 class="lead">Orchestra Feed</h1>

  <ul>
    <% @posts.each do |post| %>
        <li>
          <%= link_to post.user.username, user_path(post.user.id) %>
          <%= post.post_title %><br>
          <%= post.created_at.to_formatted_s(:long) %>
          <iframe id="new_post_vid" class="video w100" width="640" height="360" src="//www.youtube.com/embed/<%= post.video_id %>" frameborder="0" allowfullscreen></iframe><br>
           <%= post.description %><br>
          <%= render partial: "shared/comment_form", locals: {post: post} %>
          <% unless post.comments.empty? %>
            <h4>Comments:</h4><br>
            <%= render post.comments %>
          <% end %>
        </li>
    <% end %>
  </ul>

</div>
