<!--<!DOCTYPE html>-->
<!--<html>-->
  <head>
    <meta charset="utf-8">
    <title>SoundTrack</title>
  </head>
  <body>
  <div class="container">
  <h1>SoundTrack!</h1>
    <% if user_signed_in? %>
      <%= render 'homefeed' %>
      <%= image_tag current_user.avatar_url.to_s  %><br><br>
      <h3>Welcome back <%= current_user.username %>!</h3>
      <ul>
        <li><%= link_to 'Follow People', users_path %></li>

      </ul>
  <% else %>
    <%= render 'landingpage' %>
  <% end %>
  </div>
  </body>
<!--</html>-->