<!--<!DOCTYPE html>-->
<!--<html>-->
  <head>
    <meta charset="utf-8">
    <title>SoundTrack</title>
  </head>

  <body>
   <!--<div class="jumbotron" id="background">-->
    <div class="container">
      <% if !user_signed_in? %>
        <!--<div class="jumbotron">-->
          <h1>SoundTrack</h1>
          <p>Share music. Find your orchestra. Create your soundtrack.</p>
          <p><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-info btn-block" %></p>
          <p><%= link_to 'Sign in', new_user_session_path, class: "btn btn-primary btn-block" %></p>
          <p>
            <%= link_to user_omniauth_authorize_path(:facebook) do %>
                <%= image_tag "facebook_button.png" %>
            <% end %>
          </p>
        </div>
      <% end %>
    </div>


    <% if user_signed_in? %>
        <%= render 'welcome/homefeed' %>
      <% end %>
  </body>