<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SoundTrack</title>
  </head>
  <body>
    <h1>SoundTrack!</h1>
    <% if user_signed_in? %>
      <ul>
        <li><%= link_to 'Submit post', new_post_path %></li>
        <li><%= link_to 'Account', edit_user_registration_path %></li>
        <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
      </ul>
  <% else %>
      <ul>
        <li><%= link_to 'Sign up', new_user_registration_path %></li>
        <li><%= link_to 'Sign in', new_user_session_path %></li>
      </ul>
  <% end %>
  </body>
</ht