<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SoundTrack</title>
  </head>
  <body>
    <h1>SoundTrack!</h1>
    <% if user_signed_in? %>
        <% if false && current_user.avatar.present? #TODO when avtar is working %>
            <%= image_tag current_user.avatar_url.to_s %><br><br>
        <% end %>
      <h3>Welcome back <% current_user.username %>!</h3>
      <ul>
        <li><%= link_to 'Submit post', new_post_path %></li>
        <li><%= link_to 'Edit account settings', edit_user_registration_path %></li>
        <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
      </ul>
  <% else %>
      <ul>
        <li><%= link_to 'Sign up', new_user_registration_path %></li>
        <li><%= link_to 'Sign in', new_user_session_path %></li>
        <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
      </ul>
  <% end %>
  </body>
</html>