<li>
  <!--< image_tag post.user.avatar_url(:thumb) %>-->
  <span class="glyphicon glyphicon-user"></span>
  <%= link_to post.user.username, user_path(post.user.id) %>
  <%= post.post_title %><br>
  <%= post.created_at.to_formatted_s(:long) %>
  <iframe id="new_post_vid" class="video w100" width="460" height="360" src="//www.youtube.com/embed/<%= post.video_id %>" frameborder="0" allowfullscreen></iframe><br>
  Description: <%= post.description %><br>
  <% if post.user == current_user %>
      | <%= link_to 'Remove Post', [post], method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</li>

<li>
  <div class="load-comments-container">
    <% if post.comments.count != 1 %>
        <h5><%= link_to "#{post.comments.count} Comments", "#", class: "comments-link" %></h5><br>
    <% else %>
        <h5><%= link_to "#{post.comments.count} Comment", "#", class: "comments-link" %></h5><br>
    <% end %>


    <section class="comments-section">
      <ol class="comments" id="post_<%= post.id %>_comments">
        <%= render post.comments %>
      </ol>

      <%= render partial: "shared/comment_form", locals: {post: post} %>

    </section>
  </div>
</li>