<head>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>

  <body>
    <div class="container">
      <tbody>
        <% @posts.each do |post| %>
          <div class="container">
          <tr>
            <div class="container">
              <hr><td><%= post.description %></td></hr>
            </div>

            <td><a class="btn icon-btn btn-info"<%= link_to 'Show', post %></a></td>
            <td><a class="btn icon-btn btn-warning"<%= link_to 'Edit', edit_post_path(post) %></a></td>
            <td><a class="btn icon-btn btn-danger"<%= link_to 'Remove', post, method: :delete, data: { confirm: 'Are you sure?' } %></a></td>
          </tr>
          </div>
        <% end %>
       </tbody>
      </table>
        <br>
        <a class="btn icon-btn btn-success" <%= link_to'New Post', new_post_path%> </a>
      </div>
  </body>

