<head>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>

  <body>
    <div class="container">
      <tbody>
        <% @posts.each do |post| %>
          <div class="container">
          <tr>
            <div class="container">
              <hr><td><%= post.description %></td></hr>
            </div>

            <td><a class="btn icon-btn btn-info"<%= link_to 'Show', post %></a></td>
            <td><a class="btn icon-btn btn-warning"<%= link_to 'Edit', edit_post_path(post) %></a></td>
            <td><a class="btn icon-btn btn-danger"<%= link_to 'Remove', post, method: :delete, data: { confirm: 'Are you sure?' } %></a></td>
          </tr>
          </div>
        <% end %>
       </tbody>
      </table>
        <br>
        <a class="btn icon-btn btn-success" <%= link_to'New Post', new_post_path%> </a>
      </div>
  </div>

        <div class="container">
    <div class="text-center center-block">
      <a href="https://www.facebook.com/bootsnipp"><i id="social" class="fa fa-facebook-square fa-3x social-fb"></i></a>
      <a href="https://twitter.com/bootsnipp"><i id="social" class="fa fa-twitter-square fa-3x social-tw"></i></a>
      <a href="https://plus.google.com/+Bootsnipp-page"><i id="social" class="fa fa-google-plus-square fa-3x social-gp"></i></a>
      <a href="mailto:bootsnipp@gmail.com"><i id="social" class="fa fa-envelope-square fa-3x social-em"></i></a>
    </div>
  </div>
  </body>