<!-- should render 'shared/user_sidebar'-->

<div class="col-md-6 col-md-offset-3 text-center">
    <h2 class="text-center">Finish Creating Your Post Below</h2>
      <h3><%= params[:video_title] %></h3>
      <iframe id="new_post_vid" class="video w100" width="640" height="360" src="//www.youtube.com/embed/<%= params[:video_id] %>" frameborder="0" allowfullscreen></iframe>


      <%=  form_for @post do |f| %>
          <div class="form-group">
            <%= f.hidden_field :title, value: params[:video_title] %>
            <%= f.hidden_field :video_id, value: params[:video_id] %>
            <%= f.hidden_field :user_id, value: current_user.id %>

            <%= f.label :post_title, "Post Title" %>
            <%= f.text_field :post_title %><br>
            <%= f.label :description, "Description" %>
            <%= f.text_field :description %><br><br>
            <%= f.submit(class: "btn btn-primary") %>
          </div>
      <% end %>

</div>
